<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngbeen.youngService.Mapper.TrafficDataMapper">

    <select id="getAllTrafficData" resultType="com.youngbeen.youngService.DTO.TrafficDataDTO">
        SELECT * FROM traffic_volume
    </select>



    <select id="getSelectHqCode" parameterType="String" resultType="String">
        SELECT
            HQ_CODE,
            HQ_NAME,
            REGION_CODE,
            HQ_ABBR_NAME
        FROM
            TCS_HEADQUARTERS
        WHERE
            HQ_NAME = #{hqName}
    </select>

    <select id="getAnalyzedData" parameterType="String" resultType="com.youngbeen.youngService.DTO.TrafficDataDTO">
        SELECT
            A.REGION_NAME     AS regionName,
            A.TCS_NAME        AS tcsName,
            A.TRAFFIC_AMOUNT  AS trafficAmount,
            A.SUM_TM          AS sumTm,
            A.CAR_TYPE        AS carType
        FROM TRAFFIC_VOLUME A
        INNER JOIN TCS_HEADQUARTERS B
            ON A.REGION_CODE = B.HQ_CODE
        WHERE A.REGION_CODE = #{RegionCode}
        ORDER BY CREATED_TIME, CAR_TYPE
    </select>

</mapper>